<div>
    <h2>
        <span jhiTranslate="ydtApp.imageDepot.home.title">Image Depots</span>
        <button class="btn btn-primary float-right jh-create-entity create-image-depot" [routerLink]="['/', { outlets: { popup: ['image-depot-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="ydtApp.imageDepot.home.createLabel">
            Create new Image Depot
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="imageDepots">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ydtApp.imageDepot.image">Image</span></th>
            <th><span jhiTranslate="ydtApp.imageDepot.createDate">Create Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let imageDepot of imageDepots ;trackBy: trackId">
                <td><a [routerLink]="['../image-depot', imageDepot.id ]">{{imageDepot.id}}</a></td>
                <td>
                    <a *ngIf="imageDepot.image" (click)="openFile(imageDepot.imageContentType, imageDepot.image)">
                        <img [src]="'data:' + imageDepot.imageContentType + ';base64,' + imageDepot.image" style="max-height: 30px;" alt="imageDepot image"/>
                    </a>
                    <span *ngIf="imageDepot.image">{{imageDepot.imageContentType}}, {{byteSize(imageDepot.image)}}</span>
                </td>
                <td>{{imageDepot.createDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../image-depot', imageDepot.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'image-depot/'+ imageDepot.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'image-depot/'+ imageDepot.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
